@charset "UTF-8";
body{
font-family: sans-serif;
background-color: rgb(32, 32, 32);

}
h1,h2{
font-family: serif;
color: white;
text-align: center;
}
p{
color: white;
text-align: center;

}
main{
 margin: auto;
background-color: rgb(1, 63, 63);
box-shadow: 1px 2px 2px rgb(0, 27, 27);
padding: auto;
border-radius: 5px;
width: 700px;


}